---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Waarde van Gods woord — Benaja Logos">
  <p class="back-link">
    <a href="/kennismaking/professionele-ontwikkeling">← Terug naar Professionele ontwikkeling</a>
  </p>

  <h1>Waarde van Gods woord</h1>

  <p>
    In de twintig jaar die volgden werd duidelijk dat welzijn voortkomt uit voorspelbaarheid.
  </p>

  <p>
    Het wegnemen van verstoringen in de informatieverwerking bevestigt dat. Een goed functionerend
    proces leidt tot vaste patronen van afstemming door herkenning.
  </p>

  <p>
    Maar uit eigen ervaring weet ik dat afstemming niet hetzelfde is als verbinding, en dat de basis
    van verbinding ligt in een gezamenlijk gedragen orde.
  </p>

  <p>
    De vraag wie die orde bepaalt en waarom, werd voor mij een wezenlijke levensvraag. Die vraag
    werd beantwoord toen ik mijn hart openstelde voor God.
  </p>

  <p>
    Ik ontdekt dat Zijn orde volledig aansluit op hoe mensen informatie verwerken. In die meerwaarde
    vond ik het antwoord: afstemming vanuit orde geeft verbinding.
  </p>

  <p>
     <strong style="color: var(--accent);">
       Daarom mag worden gesteld dat Gods woord het fundament bevat voor een gezond, rechtvaardig en
       duurzaam leven.
     </strong>
  </p>

<p style="margin-top: 60px;">
    <span style="color: var(--accent);">
      Voor verdere inzichten vanuit deze stelling
    </span>
    → <a href="/boeken"><em>koop de boeken op deze site</em></a>
   </p>

</BaseLayout>