---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Kennismaking — Benaja Logos">

  <p class="back-link">
    <a href="/">← Terug naar Home</a>
  </p>

  <h1>Kennismaking</h1>

  <p>
    Benaja Logos is ontstaan vanuit een persoonlijke zoektocht naar betekenis, richting en samenhang die zich in de loop van de tijd heeft verdiept tot zowel een innerlijke ontwikkeling als een professionele expertise.
  </p>

  <p>
    Wat al deze lijnen nu verbindt, is de liefde voor God en de overtuiging dat Zijn orde richtinggevend is voor een gezond, rechtvaardig en duurzaam leven.
  </p>

  <h2 class="section-title">De drie pijlers van Benaja Logos</h2>

    <ul class="feature-list">
     <li>
       <a href="/kennismaking/god-zijn-woord-en-zijn-orde">
         God, Zijn woord en Zijn orde
       </a>
      </li>
      <li>
        <a href="/kennismaking/persoonlijke-zoektocht">
         Persoonlijke zoektocht
        </a>
      </li>
      <li>
        <a href="/kennismaking/professionele-ontwikkeling">
          Professionele ontwikkeling
        </a>
      </li>
    </ul>

</BaseLayout>