---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Meer grip op je leven">

  <div class="hero hero-home">

    <h1>Meer grip op je leven</h1>

    <p>
      Inzicht in de dragende orde voor balans —<br>
      richting voor een gezond, rechtvaardig en duurzaam leven.
    </p>

  </div>


  <div class="grid grid-2 home-cta" style="margin-top:58px; margin-bottom:54px;">

    <div class="grid-center">
      <a class="btn" href="/boeken">Boeken</a>
    </div>
    
    <div>
      <a class="btn" href="/dragende-orde">Dragende orde</a>
    </div>

    <div>
      <a class="btn" href="/benajalogos">Benaja Logos</a>
    </div>

  </div>

  <div class="hero">

    <a href="/dragende-orde">Begin bij "Dragende orde" - voor richting en visie.</a>

  </div>


</div>

</BaseLayout>