---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Krijg grip op je leven">

  <div class="hero hero-home">

    <h1>Meer grip op je leven</h1>

    <p><strong>Gezond, rechtvaardig en duurzaam.</strong></p>

  

    <p>Balans door keuzes af te stemmen op een dragende orde.</p>

  </div>


  <div class="grid grid-2 home-cta" style="margin-top:58px; margin-bottom:54px;">

    <div class="grid-center">
      <a class="btn" href="/boeken">Boeken</a>
    </div>
    
    <div>
      <a class="btn" href="/dragende-orde">Dragende orde</a>
    </div>

    <div>
      <a class="btn" href="/benajalogos">Benaja Logos</a>
    </div>

    

  </div>

  <div class="hero">

    <a href="/dragende-orde">Begin bij "Dragende orde" — het fundament voor balans.</a>

  </div>


</div>

</BaseLayout>