<header>
  <div class="container header-inner">

    <nav>
        <a href="/" class="mobile-logo">
        <img src="/favicon.png" alt="Benaja Logos" />
        </a>

        <a href="/">Home</a>
        <a href="/boeken">Boeken</a>
        <a href="/dragende-orde">Dragende orde</a>
        <a href="/benajalogos">Benaja Logos</a>
        <a href="/downloads">Downloads</a>
        <a href="/contact">Contact</a>
    </nav>

  </div>
</header>